
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(/img/forest.jpg) ;
}

header{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#lista{
  transition: 0.3s ease-in-out;
}

#lista:hover{
  transform: scale(1.1);
}

.formsContainer {
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0000007e;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 30px;
  margin-top: 4%;
}

.formsContainer h1 {
  padding: 16px 0;
  font-size: 25px;
}

.formsContainer input {
  color: rgb(255, 255, 255);
  padding: 5px;
  background: #919191;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  transition: 0.3s;
}

.formsContainer input:focus {
  outline: none;
}

.formsContainer button {
  padding: 10px;
  background-color: #747474;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.formsContainer button:hover {
  background: none;
  border: 2px solid rgb(255, 255, 255);
}

.formsContainer button:focus {
  outline: 2px solid rgb(255, 255, 255);
}

.radioBtn {
  border: none;
}

