@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: #f5f6fa;
  --primary-color-darker: #526484;
  --border-color: #dbdfea;
  --secundary-color: #798bff;
  --secundary-color-darker: #465fff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

#lista {
  padding: 20px;
  transition: 0.3s ease-in-out;
}

#lista:hover {
  transform: scale(1.1);
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--secundary-color);
}

form button {
  border: none;
  background: var(--secundary-color);
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: 200ms ease-in-out;
}

form button:hover {
  background: var(--secundary-color-darker);
}

#lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

#lista li {
  list-style: none;
}
